* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
body {
animation: fadeInAnimation ease 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
0% {
    opacity: 0;
}

100% {
    opacity: 1;
}
}
.img1{
  margin-top: 10px;
  width:10% ;
  opacity: 80%;
  transition: 1s;
}
.img1:hover{
  opacity: 100%;
  transform: scale(105%);
  transition: 1s;

}
#main {
  background-size: cover;
  background-color: white;
  text-align: center;
}
footer {
  background-color:rgb(73, 24, 24);
  color: white;
  text-align: center;
  padding: 20px;
}
footer p {
  margin: 0;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; 
  padding-top: 300px; 
  transition: 1s; 
}


.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: white;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.back { 
  position: relative;
  left: -560px;
  top: -80px;
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  opacity: 60%;
  transition: 0.5s;

}
.back:hover {
  background-color: black;
  opacity: 100%;
  transition: 0.5s;
}
.openbtn {
  position: relative;
  left: -620px;
  top: -80px;
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
  opacity: 60%;
  transition: 0.5s;
}

.openbtn:hover {
  background-color: black;
  opacity: 100%;
  transition: 0.5s;
}


#main {
  transition: margin-left 1s; 
  padding: 20px;
}


@media screen and (min-width: 450px) {
  .sidebar {padding-top: 300px;}
  .sidebar a {font-size: 30px;}
}

.image-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  position: relative;
  top: -80px;
}


.image-item {
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.image-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}


.image-item:hover img {
  transform: scale(1.05);
}

.text {
  font-size: 60px;
  color: black;
  position: relative;
  top: -60px;
}
.text2 {
  font-size: 30px;
  color: black;
}
.text3 {
  font-size: 20px;
  color: #636363;
}